  body {
    background-color: #a3d5d3;
  }
  
  h2 {
    color: purple;
    font-family: "Comic Sans MS", cursive, sans-serif
  }
  
  .header {
    color: blue;
    font_size: 24 px;
    font-family: "Comic Sans MS", cursive, sans-serif
  }
  
  .poop {
    color: #27556c;
    font_size: 20 px;
  }
  
  h3 {
    color: green;
    font_size: 20 px;
    font-family: "Comic Sans MS", cursive, sans-serif
  }
  
  h7 {
    color: blue;
    font-family: "Comic Sans MS", cursive, sans-serif
  }
